@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header{
    background-image: url('../../assets/home-img.jpeg');
    height: 96vh;
    background-size: cover;
    overflow: hidden;
}

.div_header{
    max-width: 490px;
    position: relative;
    top: 200px;
    left: 80px;
    color: #ffff;
    display: flex;
    gap: 10px;
    flex-direction: column;
    overflow: hidden;
}

.button, .buttons{
    cursor: pointer;
    padding: 3px;
    font-size: 0.9rem;
    border: 0px;
    background-color: #DCAB7E;
    color: #FFFFFF;
}

.button{
    max-width: 150px;
    padding: 10px;
}

.button:hover{
    max-width: 180px;
    transition: 0.3s;
}

.label{
    width: 350px;
    position: fixed;
    left: 800px;
    bottom: 420px;
    color: #000000;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0 10px 0 0;
    animation-name: slideDown;
    animation-duration: 1s;
    z-index: 99;
}

@keyframes slideDown {
    0% {
       opacity: 0;
       transform: translateY(-100%);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
 

.label input{
    width: 100%;
    outline: 0px;
    border: 0px;
    padding: 10px;
}

.search{
    font-size: 25px;
}

.search:hover{
    color: #DCAB7E;
    cursor: pointer;
}

.cartItems{
    width: 350px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 900px;
    bottom: 5px;
    gap: 10px;
    background-color: #FFFFFF;
    color: #000000;
    height: 82vh;
    animation-name: slideLeft;
    animation-duration: 1s;
    z-index: 99;
}

@keyframes slideLeft {
    0% {
       opacity: 0;
       transform: translatex(100%);
    }
    100% {
       opacity: 1;
       transform: translatex(0);
    }
 }

.cartItems img{
    max-width: 100px;
}

.cartItem{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cart{
    display: flex;
    flex-direction:column;
}

.cart span{
    color: #DCAB7E;
}

.cart p{
    font-weight: 800;
}

.faTimes{
    color: #000000;
    font-size: 20px;
}

.buttons{
    position: relative;
    left: 23px;
    padding: 5px;
    font-size: 17px;
    max-width: 300px;
}
